@model U01A02a181G0250.Models.CalificacionesViewModel

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
    <link href="~/styles01.css" rel="stylesheet" type="text/css">
    <title> Index </title>
</HEAD>
<BODY>
    <h1> Calificaciones </h1>

    <form method="get" action="~/Home/Index">

        <label> Califiación 1: </label>
        <input name="Calificacion01" type="number" value="@Model.Calificacion01" /> <br />
        <label> Califiación 2: </label>
        <input name="Calificacion02" type="number" value="@Model.Calificacion02" /> <br />
        <label> Califiación 3: </label>
        <input name="Calificacion03" type="number" value="@Model.Calificacion03" /> <br />

        <input type="submit" value="Calcular" /> <br />

        <label> Califiación Final: </label>
        <b>
            @Model.CalificacionFinal
        </b>
        <br />


        <label> Estado: </label> <b> @Model.Estado </b>

    </form>
</BODY>
</HTML>